<div class="modal-popup-toolbar clearfix">
    <div class="asset-management-modal-filters">
        <button class="asset-management-modal-add-asset">
            <span class="asset-management-modal-add-asset-inner">
                <i class="fa-upload fa"></i>{{t 'app.uploadnewasset'}}
            </span>
        </button>

        <input type="text" class="asset-management-modal-filter-search" placeholder="{{t 'app.search'}}"/>
        <button class="sidebar-inline-input-button asset-management-modal-filter-clear-search">
            <i class="fa fa-times"></i>
        </button>
        
        <button class="asset-management-modal-filter-button" data-filter-type="all" title="{{t 'app.filetypeall'}}">
            <i class="fa fa-toggle-off"></i> {{t 'app.filetypeall'}}
        </button>

        <button class="asset-management-modal-filter-button" data-filter-type="image" title="{{t 'app.filetypeimage'}}">
            <i class="fa fa-toggle-off"></i> {{t 'app.filetypeimage'}}
        </button>

        <button class="asset-management-modal-filter-button" data-filter-type="audio" title="{{t 'app.filetypeaudio'}}">
            <i class="fa fa-toggle-off"></i> {{t 'app.filetypeaudio'}}
        </button>

        <button class="asset-management-modal-filter-button" data-filter-type="video" title="{{t 'app.filetypevideo'}}">
            <i class="fa fa-toggle-off"></i> {{t 'app.filetypevideo'}}
        </button>

        <button class="asset-management-modal-filter-button" data-filter-type="other" title="{{t 'app.filetypeother'}}">
            <i class="fa fa-toggle-off"></i> {{t 'app.filetypeother'}}
        </button>

        <button class="asset-management-modal-add-tag">
            <span class="asset-management-modal-add-tag-inner">
                <i class="fa-plus fa"></i>{{t 'app.addtag'}}
            </span>
        </button>
    </div>
</div>